{{#if isTech}}
{{> navigation-tech}}
{{else}}
{{> navigation}}
{{/if}}
<div class="d-flex justify-content-center">
    <div class="w-75">
        <div class="bg-success text-white text-center shadow rounded-4 p-3 m-3">
            <h1><b>Frequently Asked Questions</b></h1>
        </div>
        <div class="accordion border border-success border-3 rounded-3 m-3 shadow" id="question">
            {{#each faq}}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#q{{increment @index}}">
                        {{question}}
                    </button>
                </h2>
                <div id="q{{increment @index}}" class="accordion-collapse collapse" data-bs-parent="#question">
                    <div class="accordion-body">
                        {{answer}}
                        {{#if ../isTech}}
                        <div class="d-flex justify-content-center mt-2">
                            <form action="../delete-faq" method="post">
                                <input type="hidden" name="id" value="{{_id}}">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#faq-{{increment @index}}">Edit</button>    
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{#if isTech}}
        {{#each faq}}
        <div class="modal fade" id="faq-{{increment @index}}" data-bs-backdrop="static" data-bs-keyboard="true"
            tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Edit Question {{increment @index}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form action="../edit-faq" method="post">
                        <div class="modal-body">
                            <input type="hidden" name="id" value="{{_id}}">
                            <div class="mb-3">
                                <label for="question" class="form-label">Question</label>
                                <input type="text" class="form-control" id="question" name="question"
                                    value="{{question}}">
                            </div>
                            <div class="mb-3">
                                <label for="answer" class="form-label">Answer</label>
                                <textarea class="form-control" id="answer" name="answer">{{answer}}</textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add">
                Add
            </button>
        </div>
        <div class="modal fade" id="add" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Add FAQ</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form action="../create-faq" method="post">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="question" class="form-label">Question</label>
                                <input type="text" class="form-control" id="question" name="question" required>
                            </div>
                            <div class="mb-3">
                                <label for="answer" class="form-label">Answer</label>
                                <textarea class="form-control" id="answer" name="answer" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>
{{> logout}}